html {
  filter: invert(1) contrast(0.85) !important;
  background: #fff !important;
}

:root, body {
  background: #fff !important;
}

img, video, picture, canvas, svg {
  filter: invert(1) contrast(1.18) !important;
}
