named-mailboxes "=== PAYPAL ===" "+.header-nicktalatipaypal"
named-mailboxes "  Inbox" "+nicktalatipaypal/Inbox"
named-mailboxes "  sent" "+nicktalatipaypal/[Gmail]/Sent Mail"
named-mailboxes "  drafts" "+nicktalatipaypal/[Gmail]/Drafts"
named-mailboxes "  spam" "+nicktalatipaypal/[Gmail]/Spam"
named-mailboxes "  all" "+nicktalatipaypal/[Gmail]/All Mail"

sidebar_pin "+.header-nicktalatipaypal"
sidebar_pin "+nicktalatipaypal/Inbox"

folder-hook ~/mail/nicktalatipaypal/* 'set from="nicktalatipaypal@gmail.com"'
folder-hook ~/mail/nicktalatipaypal/* 'set sendmail="msmtp --file $HOME/.config/msmtp/accounts/paypal.conf --account paypal"'
folder-hook ~/mail/nicktalatipaypal/* 'set trash="+nicktalatipaypal/[Gmail]/Trash"'
folder-hook ~/mail/nicktalatipaypal/* 'set postponed="+nicktalatipaypal/[Gmail]/Drafts"'
folder-hook ~/mail/nicktalatipaypal/* 'unset record'
folder-hook ~/mail/nicktalatipaypal/* 'macro index,pager A "<save-message>=nicktalatipaypal/[Gmail]/All Mail<enter>" "archive"'
