[Unit]
Description=Gocryptfs Crypt Mount

[Service]
Type=simple
ExecStartPre=/usr/bin/mkdir -p %h/crypt
ExecStartPre=/usr/bin/mkdir -p %h/decrypt
ExecStart=/usr/bin/gocryptfs -fg -passfile %h/.config/gocryptfs/secrets %h/crypt %h/decrypt
ExecStop=/usr/bin/fusermount3 -u -z %h/decrypt
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
