[Unit]
Description=Cryptomator Vault Mount
After=network.target

[Service]
Type=simple
EnvironmentFile=%h/.config/cryptomator/secrets

ExecStartPre=/usr/bin/mkdir -p %h/vault
ExecStart=cryptomator-cli unlock \
    --mountPoint %h/vault \
    --mounter org.cryptomator.frontend.fuse.mount.LinuxFuseMountProvider \
    --password:env=VAULT_PASS \
    %h/Dropbox/vault

ExecStop=/usr/bin/cryptomator-cli lock %h/Dropbox/vault
Restart=on-failure

[Install]
WantedBy=default.target
